<div class="text-center">

<h1>Game's score</h1>

<h2>Your word is: <%= params[:attempt] %></h2>

<h3>Time Taken to answer: <%= @time.to_i %> seconds</h3>

<h3>Your Score: <%= @score %></h3>

<h3><%= @message %></h3>

<h3>Your Total Score is: <%= session[:total].to_i %></h3>

<h2><%= link_to "Play a new game!", new_path %></h2>

</div>



